:root {
  --basic-blue-dark: #161c35;
  --basic-blue-dark-30: rgba(22, 28, 53, 0.3);
  --basic-blue-dark2: #192144;
  --basic-blue-dark2-10: rgba(25, 33, 68, 0.1);
  --basic-blue-dark2-30: rgba(25, 33, 68, 0.3);
  --basic-blue-dark3: #182044;
  --basic-blue: #1d2e5b;
  --basic-blue-18: rgba(29, 46, 91, 0.18);
  --basic-blue-20: rgba(29, 46, 91, 0.1);
  --basic-blue-30: rgba(29, 46, 91, 0.3);
  --basic-blue-60: rgba(29, 46, 91, 0.6);
  --basic-blue-70: rgba(29, 46, 91, 0.7);
  --basic-blue2: #132576;
  --special-blue-light: #dfe3f0;
  --special-blue-dark: #d1d7e9;
  --basic-yellow: #ffd74b;
  --special-yellow-dark: #ffbd30;
  --special-yellow-dark-30: rgba(255, 189, 48, 0.3);
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-black-5: rgba(0, 0, 0, 0.05);
  --basic-black-10: rgba(0, 0, 0, 0.1);
  --basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-black-40: rgba(0, 0, 0, 0.4);
  --basic-black-60: rgba(0, 0, 0, 0.6);
  --special-red: #f47e7e;
  --special-orange: #ff8d30;
  --special-orange-30: rgba(255, 141, 48, 0.3);
  --special-orange-light: #ffa530;
  --dark-orange: #f26926;
  --special-grey: #444444;
  --special-grey-30: rgba(68, 68, 68, 0.3);
  --special-grey-60: rgba(68, 68, 68, 0.6);
  --basic-grey: #cccccc;
  --basic-grey-dark: #999999;
  --basic-grey-light: #e5e5e5;
  --grey-light: #f2f2f2;
  --grey-light2: #e1e3e9;
  --grey-light3: #e2e5f2;
  --background-color: #edeff6;
  --background-form-color: #d4d9eb;
  --status-color: #f97676;
  --like-background: #f9eaea;
  --like-background-dark: #f9d8d8;
  --search-line: #f3c72b;
  --border-grey: #cbced9;
  --border-grey-dark: #aeb4cb;
  --border-grey-darker: #959bb2;
  --pin-color: #121936;
  --pad-color: #141b3b;
  --card-shadow: rgba(0, 0, 0, 0.16);
  --card-border: rgba(203, 206, 217, 0.3);
  --calendar-border: #d6d9e6;
  --calendar-day-off: #ff5c23;
  --filter-button: #d6daed;
  --select-shadow: rgba(212, 217, 235, 0.25);
  --select-shadow-tablet: rgba(54, 80, 148, 0.18);
  --cross-grey: #afb0b5;
  --card-transport-color: #101d41;
  --transport-shadow: rgba(22, 28, 53, 0.17);
  --transport-down: #e2e5f1;
  --like-color: #f02323;
  --like-color-30: rgba(240, 35, 35, 0.3);
  --basic-red: #ff0000;
  --error-background: #ffefef;
  --modal-close-background: #f3f4f8;
  --collapse-button-background: #c8cee8;
  --button-shadow: rgba(0, 0, 0, 0.14);
  --pin-shadow: rgba(0, 0, 0, 0.24);
}
