:root {
  --basic-blue-dark: #161c35;
  --basic-blue-dark2: #192144;
  --basic-blue: #1d2e5b;
  --basic-blue-light: #edeff6;
  --special-blue-light: #dfe3f0;
  --basic-yellow: #ffd74b;
  --special-yellow-dark: #ffbd30;
  --basic-white: #fff;
  --basic-black: #000;
  --special-red: #f47e7e;
  --special-orange: #ff8d30;
  --special-grey: #444;
  --basic-grey: #ccc;
  --grey-light: #f2f2f2;
  --background-color: #edeff6;
}

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
