.page-footer {
  background-color: var(--basic-white);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.page-footer__wrapper {
  @include wrapper;
  padding-top: 38px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: -12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -45px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 19px;
  margin-top: 35px;
  font-size: 16px;
  line-height: 16px;
  border-top: 1px solid var(--grey-light);
  color: var(--special-grey);

  img {
    width: 27px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 0;

    img {
      margin-left: 24px;
    }
  }
}
