.page-header {
  background-color: var(--basic-blue-dark3);
  background-repeat: no-repeat;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  position: relative;
  min-height: 68px;

  &--dark {
    background-color: var(--basic-blue-dark);
  }

  &--fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  &--alternate {
    .page-header__mobile--closed {
      height: 69px;
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: var(--basic-blue-dark3);
    padding-top: 42px;
    padding-bottom: 40px;

    &--alternate {
      .page-header__mobile--closed {
        height: 132px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--basic-blue-dark2);

    &--dark {
      background-color: var(--basic-blue-dark);
    }

    &--alternate {
      .page-header__mobile--closed {
        height: auto;
      }
    }
  }
}

.page-header__wrapper {
  @include wrapper;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  right: 25px;
  top: 26px;

  @media (min-width: $tablet-width) {
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo {
  align-self: flex-start;
  flex-shrink: 0;

  img {
    display: block;
  }
}

.page-header__main-nav {
  @media (max-width: $tablet-width-only) {
    margin-top: 101px;
    margin-bottom: 130px;
    margin-left: 57px;
    align-self: flex-start;
  }

  @media (max-width: $mobile-width-only) {
    margin-top: 76px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-header__auth {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    .auth__item {
      display: none;
    }

    .auth__item--login {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    .auth__item {
      display: block;
    }
  }

  .auth__login {
    min-height: 50px;
    min-width: 188px;
  }

  &--fixed {
    position: fixed;
    z-index: 1000;
  }

  &--inner {
    position: absolute;
    top: 0;
    right: 40px;
  }
}

.page-header__mobile {
  background-color: var(--basic-white);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 25px;
  padding-top: 25px;

  .page-header__wrapper {
    flex-wrap: wrap;
  }

  .page-header__logo {
    order: -1;
  }

  .page-header__auth {
    order: -1;
  }

  &--closed {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
    padding-bottom: 19px;

    .page-header__wrapper {
      flex-wrap: nowrap;
    }

    .page-header__logo {
      order: 0;
    }

    .page-header__auth {
      order: 0;
    }
  }
}

.page-header__phone,
.page-header__email {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 56px;
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__social {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  .social__item {
    a {
      background: none;
      color: var(--basic-blue-dark2);

      &:hover,
      &:focus {
        background: none;
        opacity: 0.6;
      }

      &:active {
        background: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    margin-left: 56px;
    margin-top: 111px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__button {
  display: none;

  @media (max-width: $mobile-width-only) {
    @include bordered;
    width: 100%;
    background-color: var(--basic-yellow);
    color: var(--basic-blue-dark);
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 12px 28px 8px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
