.page-header {
  background-color: var(--basic-blue-dark);
  background-repeat: no-repeat;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  position: relative;
  min-height: 68px;

  @media (min-width: $tablet-width) {
    background-color: var(--basic-blue-dark2);
    padding-top: 42px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 10px;
    background-color: var(--basic-blue-dark);
  }
}

.page-header__wrapper {
  @include wrapper;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__menu {
  @media (max-width: $tablet-width-only) {
    padding: 42px 0 25px;
    background-color: var(--basic-white);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .page-header__wrapper {
      flex-wrap: wrap;
      flex-direction: column;
      position: relative;
    }

    .page-header__toggle {
      margin-left: auto;
    }

    &--closed {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-top: 5px;

    .page-header__wrapper {
      padding: 0;
    }
  }
}

.page-header__toggle {
  right: 25px;
  top: 26px;

  @media (min-width: $tablet-width) {
    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo {
  align-self: flex-start;

  img {
    display: block;
  }
}

.page-header__main-nav {
  @media (max-width: $mobile-width-only) {
    margin-top: 76px;
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 101px;
    margin-bottom: 130px;
    margin-left: 57px;
    align-self: flex-start;
  }
}

.page-header__auth {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    .auth__item {
      display: none;
    }

    .auth__item--login {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    .auth__item {
      display: block;
    }
  }

  .auth__login {
    min-height: 50px;
    min-width: 188px;
  }
}

.page-header__phone,
.page-header__email {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 56px;
    width: auto;
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__social {
  margin-top: 40px;

  .social__item {
    a {
      background: none;
      color: var(--basic-blue-dark2);
    }
  }

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    margin-left: 56px;
    margin-top: 111px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__button {
  @include bordered;
  width: 100%;
  text-align: center;
  background-color: var(--basic-yellow);
  color: var(--basic-blue-dark);
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 12px 28px 8px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 40px;
    width: auto;
    margin: 0;
    min-width: 188px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.03em;
    font-weight: normal;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo--dark {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
