.page-main {

}

.page-main__heading {
  color: var(--basic-white);
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.page-main__subheading {
  color: var(--special-orange);
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.page-main__text {
  color: var(--special-grey);
}
