.address {
  color: var(--basic-blue);
  background-color: var(--basic-yellow);
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 35px;
  padding-top: 50px;
  margin-top: -50px;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.address__wrapper {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 49px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 21px;
    padding-left: 283px;
    padding-right: 135px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.address__field {
  display: flex;
  align-items: center;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.address__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;

    br {
      display: none;
    }
  }
}

.address__pin {
  @include bordered;
  width: 45px;
  height: 45px;
  background-color: var(--pin-color);
  color: var(--basic-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  flex-shrink: 0;

  svg {
    width: 16px;
    height: auto;
  }

  @media (min-width: $tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 26px;

    svg {
      width: 24px;
      height: auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;

    margin-right: 31px;
  }
}

.address__button {
  border: 3px solid var(--basic-blue-dark2);
  width: 100%;
  background-color: var(--basic-yellow);
  padding: 10px 22px;
  min-height: 62px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 18px;
  font-family: inherit;
  font-weight: 700;
  color: var(--basic-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--basic-blue-dark2);
    color: var(--basic-white);
  }

  &:active {
    color: var(--basic-white-30);
  }

  @media (min-width: $tablet-width) {
    border-radius: 20px;
    min-height: 80px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    min-width: 324px;
  }
}
