.ask-us {
  background-color: var(--basic-blue-dark2);
  color: var(--basic-white);
}

.ask-us__wrapper {
  @include wrapper;
}

.ask-us__address {
  background-color: var(--basic-yellow);
}

.ask-us__phone,
.ask-us__email {
  color: var(--basic-yellow);
}
