.auth {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.auth__list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.auth__item {
  a {
    border-radius: 25px;
    background-color: var(--basic-yellow);
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--login {
    a {
      background-color: var(--basic-yellow);
      color: var(--basic-blue-dark);
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-transform: uppercase;
      padding: 12px 28px 8px;
      min-width: 190px;
    }
  }

  &:nth-child(3n+1) {
    a {
      background-color: var(--special-orange);
    }
  }

  &:nth-child(3n+2) {
    a {
      background-color: var(--special-yellow-dark);
    }
  }
}
