.calendar {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    margin-bottom: 47px;
  }
}

.calendar__year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid var(--calendar-border);
  border-bottom: 1px solid var(--calendar-border);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 27px 0 23px;
  }
}

.calendar__caption {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__arrow {
  padding: 0;
  border: none;
  background: none;

  &--left {
    order: -1;
  }
}

.calendar__month {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar__day {
  border: 1px solid var(--calendar-border);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  width: 33px;
  height: 32px;
  color: var(--basic-blue);
  background-color: var(--background-color);

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 69px;
  }

  &:hover {
    outline: 2px solid var(--calendar-day-off);
    outline-offset: -2px;

    @media (min-width: $tablet-width) {
      outline: 3px solid var(--calendar-day-off);
      outline-offset: -3px;
    }
  }

  &--of-the-week {
    font-weight: normal;
    border: none;
    color: var(--special-grey);
    background-color: var(--basic-white);

    @media (max-width: $mobile-width-only) {
      span {
        display: none;
      }
    }
  }

  &--off {
    color: var(--calendar-day-off);
  }

  &--past {
    background-color: var(--basic-white);
    color: var(--special-grey-30);
    font-weight: normal;
  }

  &--selected {
    background-color: var(--basic-blue);
    color: var(--basic-white);
  }
}
