.calendar {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    margin-bottom: 58px;
  }
}

.calendar__year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 10px;
  border-top: 1px solid var(--calendar-border);
  border-bottom: 1px solid var(--calendar-border);
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 27px 16px 21px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 0 23px;
    margin-bottom: 16px;
  }
}

.calendar__caption {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__arrow {
  padding: 0;
  border: none;
  background: none;

  svg {
    width: 9px;
    height: 18px;
    opacity: 0.3;
  }

  &--left {
    order: -1;
  }

  @media (min-width: $tablet-width) {
    svg {
      width: 19px;
      height: 34px;
    }
  }
}

.calendar__month {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar__day {
  border: 1px solid var(--calendar-border);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 0px 2px 0;
  width: 33px;
  height: 31px;
  color: var(--basic-blue);
  background-color: var(--background-color);

  @media (max-width: $tablet-width-only) {
    span {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 69px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    vertical-align: top;
    padding: 14px 16px;
    color: var(--special-grey);
    font-weight: normal;
    height: 71px;
  }

  &:hover {
    outline: 2px solid var(--calendar-day-off);
    outline-offset: -2px;

    @media (min-width: $tablet-width) {
      outline: 3px solid var(--calendar-day-off);
      outline-offset: -3px;
    }
  }

  &--off {
    color: var(--calendar-day-off);
  }

  &--past {
    background-color: var(--basic-white);
    color: var(--special-grey-30);
    font-weight: normal;
  }

  &--selected {
    background-color: var(--basic-blue);
    color: var(--basic-white);
  }
}

.calendar__day-of-the-week {
  font-weight: normal;
  border: none;
  color: var(--special-grey);
  background-color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 5px 0;

  &--off {
    color: var(--calendar-day-off);
  }

  @media (max-width: $mobile-width-only) {
    span {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    height: auto;
    padding: 0 0 15px 0;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding: 0 16px 19px 16px;
  }
}

.calendar__status {
  margin-top: 5px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}
