.calendar {
  margin-bottom: 20px;
}

.calendar__year {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid var(--calendar-border);
  border-bottom: 1px solid var(--calendar-border);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 27px 0 23px;
  }
}

.calendar__caption {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-blue);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__arrow {
  padding: 0;
  border: none;
  background: none;

  &--left {
    order: -1;
  }
}

.calendar__month {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.calendar__day {
  border: 1px solid var(--calendar-border);
  padding: 4px 7px;
  color: var(--special-grey-30);

  &--of-the-week {
    font-weight: normal;
    border: none;
    color: var(--special-grey);
  }

  &--off {
    color: var(--calendar-day-off);
  }
}
