.countries {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--basic-blue-light);
  padding-bottom: 34px;
  z-index: 5;
  margin-bottom: -30px;
  padding-top: 100px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }

  .page-main__subheading {
    margin-top: 0;
  }
}

.countries__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    background-image:
      url('../img/flags-back@1x.png'),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 212 212'%3E%3Crect width='212' height='212' fill='%23E2E5F2' rx='20'/%3E%3C/svg%3E");
    background-position: top right, top left;
    background-size: 288px 574px, 141px 141px;
    background-repeat: no-repeat;
    background-origin: content-box;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    align-items: flex-start;
  }
}

.countries__list {
  @include reset-list;
  margin-bottom: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 212 212'%3E%3Crect width='212' height='212' fill='%23E2E5F2' rx='20'/%3E%3C/svg%3E");
  background-position: top left;
  background-size: 141px 141px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 38px 36px;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.countries__item {
  margin-bottom: 9px;
}

.countries__text {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.countries__all {
  @media (min-width: $tablet-width) {
    margin: 0 36px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}
