.custom-select {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  &::before {
    @include bordered;
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid var(--border-grey);
    order: 1;
    position: absolute;
    right: 48px;
    z-index: 1;
    background-color: var(--basic-white);
  }

  &:hover,
  &:focus {
    .custom-select__label {
      border-color: var(--border-grey-darker);
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 14px 70px;
    grid-column-gap: 20px;

    &::before {
      width: 14px;
      height: 14px;
      position: relative;
      right: auto;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 730px 14px 70px;
    grid-column-gap: 38px;
  }
}

.custom-select--add {
  &::before {
    background-color: var(--background-color);
  }

  .custom-select__label {
    border: none;

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23606161' d='M20 9h-9V0H9v9H0v2h9v9h2v-9h9z'/%3E%3C/svg%3E");
      width: 21px;
      height: 21px;
    }

    &::before {
      display: none;
    }
  }

  &:hover,
  &:focus {
    .custom-select__label {
      background: var(--background-color);
    }
  }

  &:active {
    .custom-select__label {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='rgba(0, 0, 0, 0.1)' d='M20 9h-9V0H9v9H0v2h9v9h2v-9h9z'/%3E%3C/svg%3E");
        width: 21px;
        height: 21px;
      }
    }
  }
}

.custom-select--chosen {
  &::before {
    background-color: var(--basic-blue);
    border-color: var(--basic-blue);
  }

  .custom-select__flag {
    display: flex;
  }
}

.custom-select--active {
  @media (max-width: $mobile-width-only) {
    + .add-plan__delete {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

.custom-select__label {
  width: 168px;
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  padding: 11px 10px;
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-blue);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    right: 10px;
    width: 52px;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, var(--basic-white) 50%);
  }

  &::after {
    content: "";
    position: absolute;
    right: 15px;
    width: 12px;
    height: 11px;
    opacity: 0.3;
    z-index: 1;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 9'%3E%3Cpath d='M8.5 7.2L1.3.2C1-.1.5-.1.2.2c-.3.3-.3.8 0 1L8 8.8c.3.3.8.3 1.1 0l7.7-7.5c.1-.2.2-.4.2-.6s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0l-7.2 7z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--active {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    border-color: var(--basic-blue);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 100;

    &::after {
      width: 8px;
      height: 9px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.6 18.6' fill='%23ffffff'%3E%3Cpath d='M11.4 9.3l6.7-6.7c.6-.6.6-1.5 0-2.1s-1.5-.6-2.1 0L9.3 7.2 2.6.4C2-.1 1-.1.4.4-.1 1-.1 2 .4 2.6l6.7 6.7L.4 16c-.6.6-.6 1.5 0 2.1s1.5.6 2.1 0l6.7-6.7 6.7 6.7c.6.6 1.5.6 2.1 0s.6-1.5 0-2.1l-6.6-6.7z'/%3E%3C/svg%3E");
    }

    &::before {
      background: linear-gradient(90deg, transparent 0%, var(--basic-blue) 50%);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 11px 26px;
    font-size: 20px;
    line-height: 20px;
    min-height: 70px;
    width: auto;

    &::after {
      right: 25px;
      width: 18px;
      height: 8px;
    }

    &--active {
      &::after {
        width: 17px;
        height: 16px;
      }
    }
  }
}

.custom-select__label-text {
  overflow: hidden;
  white-space: nowrap;
}

.custom-select__flag {
  width: 52px;
  height: 42px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-grey);
  border-radius: 4px;
  display: none;

  img {
    display: block;
    width: 35px;
  }

  @media (min-width: $tablet-width) {
    order: 1;
    width: 70px;
    height: 47px;
    border: none;

    img {
      width: 70px;
    }
  }
}

.custom-select__toggle {
  width: 52px;
  display: flex;
  background-color: var(--basic-white);
  border: 1px solid var(--border-grey);
  padding: 13px 10px;
  border-radius: 4px;
}

.custom-select__data {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-grey);
  background-color: var(--basic-white);
  box-shadow: 0 2px 16px var(--select-shadow);

  &--open {
    display: flex;
    position: absolute;
    top: 41px;
  }

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 8px 16px var(--select-shadow-tablet);
    width: 575px;

    &--open {
      top: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.custom-select__data-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 13px 17px 11px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.custom-select__data-close {
  background: none;
  border: none;
  padding: 0;

  svg {
    fill: var(--basic-white);
  }
}

.custom-select__data-letter-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--border-grey);
  border-top: none;
}

.custom-select__data-letter-item {
  width: 20%;
  border: 1px solid var(--border-grey);

  button {
    width: 100%;
    height: 100%;
    font-family: inherit;
    background: none;
    border: none;
  }
}

.custom-select__table {
  border-collapse: collapse;
  border-left: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  width: 100%;
  height: 205px;

  tr {
    &:first-child {
      td {
        border-top-width: 0;
      }
    }
  }

  td {
    width: 20%;
    height: 20%;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-blue);
    border-top: 1px solid var(--border-grey);
    border-left: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);

    &.active {
      background-color: var(--background-color);
      border-bottom-color: var(--background-color);
    }

    &:hover,
    &:focus {
      border-color: var(--border-grey-darker);
    }
  }

  @media (min-width: $tablet-width) {
    width: 262px;
    margin-top: 35px;
    margin-left: 27px;
    margin-bottom: 33px;

    tr {
      &:first-child {
        td {
          border-top-width: 1px;
        }
      }
    }

    td {
      width: 55px;
      height: 70px;
      font-size: 20px;
      line-height: 20px;

      &.active {
        background-color: var(--basic-blue);
        color: var(--basic-white);
        border-bottom-color: var(--background-color);
      }

      &:hover,
      &:focus {
        border-color: var(--border-grey-darker);
      }
    }
  }

  @media (min-width: $desktop-width) {
    border-collapse: separate;
    border-spacing: 16px;
    border: none;
    width: auto;
    margin-top: 16px;
    margin-left: 10px;
    margin-bottom: 14px;

    td {
      width: 60px;
      height: 70px;
      border: 1px solid var(--border-grey);
      border-radius: 4px;

      &:hover,
      &:focus {
        border-color: var(--border-grey-darker);
      }

      &.active {
        border-color: var(--basic-blue);
      }
    }
  }
}

.custom-select__country-list {
  @include reset-list;
  padding: 18px 18px 11px;
  border-left: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 241px;
    padding: 35px 10px 33px 25px;
    border-left: 1px solid var(--calendar-border);
    border-right: none;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.custom-select__country-item {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }
}

.custom-select__country-button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-grey);
  text-align: left;

  &:hover,
  &:focus {
    color: var(--basic-blue);
  }

  &:active {
    color: var(--basic-blue-30);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
