.main-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 40px;
    flex-direction: row;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      background-color: var(--basic-white);
      margin-right: 45px;
      position: relative;
      top: -2px;
    }
  }
}

.main-nav__wrapper {
  @include wrapper;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.main-nav__logo {
  img {
    display: block;
  }
}

.main-nav__list {
  @include reset-list;
  text-align: center;
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
  }
}

.main-nav__item {
  a {
    display: block;
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-blue-dark2);

    @media (min-width: $desktop-width) {
      color: var(--basic-white);
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;

    &:last-child {
      margin-right: 0;
    }
  }
}
