.map {
  width: 100%;
  height: 363px;
  margin-top: -50px;
  margin-bottom: -50px;
  position: relative;
  z-index: 0;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    height: 564px;
  }

  @media (min-width: $desktop-width) {
    height: 496px;
  }
}

.map__marker {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: -60px;
  right: -5px;
  margin: auto;

  @media (min-width: 321px) {
    top: -40px;
    right: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 54px;
    height: 54px;
  }

  @media (min-width: $desktop-width) {
    top: -52px;
    right: 0;
  }
}
