.promo {
  background-color: var(--basic-blue-dark);
  color: var(--basic-white);
}

.promo__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.promo__review {
  margin-bottom: 29px;
  padding-left: 20px;
}

.promo__review-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 18px;
}

.promo__review-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
