.search {
  background: var(--basic-yellow);
  border-radius: 20px;
  padding: 26px 25px 22px;
  margin-bottom: 28px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 37px 35px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 37px 35px 38px;
  }
}

.search__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
}

.search__heading {
  color: var(--basic-blue);
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
    font-size: 30px;
    line-height: 30px;
  }
}

.search__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--search-line);
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &::before {
      top: -38px;
      position: absolute;
    }

    &:not(:first-of-type):not(:last-of-type) {
      &::before {
        display: none;
      }
    }

    &:last-of-type {
      margin-bottom: 60px;

      &::before {
        order: 1;
        top: auto;
        bottom: -38px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;

    &::before {
      display: none;
    }

    &:last-of-type {
      margin-bottom: 19px;
    }
  }
}

.search__legend {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  text-transform: uppercase;

  span {
    @media (max-width: $mobile-width-only), (min-width: $desktop-width) {
      display: none;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 105px;
    margin-right: 10px;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
  }
}

.search__reveal {
  display: none;
  background: none;
  border: 0;
  padding: 0;
  color: var(--basic-blue-dark2);
  width: 10px;

  svg {
    display: block;
    width: 100%;
    transition: .2s ease-in-out;
  }

  &--show {
    svg {
      transform: rotate(180deg);
      transition: .2s ease-in-out;
    }
  }

  @media (max-width: $mobile-width-only), (min-width: $desktop-width) {
    display: flex;
  }
}

.search__list {
  @include reset-list;
  display: none;
  flex-wrap: wrap;
  margin-top: 15px;

  &--show {
    display: flex;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    flex-grow: 1;
    margin-top: 0;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.search__checkbox {
  margin-bottom: 8px;
  width: 100%;

  label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--basic-black);
    position: relative;
  }

  input {
    + label {
      &::before {
        content: "";
        margin-right: 9px;
        width: 18px;
        height: 18px;
        background-color: var(--basic-white);
        border-radius: 4px;
        margin-bottom: 4px;
      }
    }

    &:checked {
      + label {
        &::after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 8px;
          height: 8px;
          background-image: url("../img/tick.svg");
          background-repeat: no-repeat;
        }
      }
    }

    &:hover,
    &:focus {
      + label {
        color: var(--basic-black-60);
      }
    }

    &:active {
      + label {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 33%;

    label {
      font-size: 20px;
      line-height: 20px;
    }

    input {
      + label {
        &::before {
          width: 24px;
          height: 24px;
          margin-right: 12px;
        }
      }

      &:checked {
        + label {
          &::after {
            width: 12px;
            height: 12px;
            top: 6px;
            left: 6px;
          }
        }
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 15px;
    width: 100%;
  }
}

.search__radio {
  label {
    @include bordered;
    background-color: var(--basic-white);
    color: var(--basic-blue);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    height: 16px;
    width: 16px;
    opacity: 0.15;
  }

  input {
    &:checked {
      + label {
        svg {
          opacity: 1;
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    label {
      width: 40px;
      height: 40px;
    }

    svg {
      height: 22px;
      width: 22px;
    }
  }
}

.search__level {
  position: relative;
  flex-grow: 1;
  margin-top: 15px;
  margin-bottom: 20px;
  display: none;

  &--show {
    display: block;
  }
}

.range-input {
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.range-input__fieldset {
  display: flex;
  position: relative;
  margin-bottom: 24px;

  &::before {
    content: "";
    order: 1;
    width: 1px;
    height: 14px;
    align-self: center;
    flex-shrink: 0;
    background: var(--basic-white);
    z-index: 10;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    width: 21px;
    height: 1px;
    background-color: var(--border-grey);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 148px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    margin-bottom: 30px;
    width: auto;
  }
}

.range-input__field {
  position: relative;

  input {
    width: 100%;
    position: relative;
    color: var(--basic-blue);
    height: 35px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-align: center;
    border: 1px solid var(--border-grey);

    &:hover {
      border-color: var(--border-grey-darker);
      z-index: 1;
    }

    &:focus {
      outline: none;
      border-color: var(--basic-blue-dark);
      z-index: 1;
    }
  }

  &:first-child {
    margin-right: -1px;

    input {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  &:last-child {
    order: 1;
    margin-left: -1px;

    input {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    input {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    input {
      height: 46px;
    }
  }
}

.range-input__scale {
  min-width: 190px;

  @media (min-width: $tablet-width) {
    width: 281px;
    flex-grow: 1;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-right: 0;
  }
}

.range-input__bar {
  width: 100%;
  height: 2px;
  background-color: var(--basic-blue-20);
  position: relative;

  @media (min-width: $tablet-width) {
    height: 3px;
    border-radius: 2px;
  }
}

.range-input__bar-inner {
  position: absolute;
  right: 0;
  width: 70%;
  height: 2px;
  background-color: var(--basic-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 3px;
  }
}

.range-input__pin {
  @include bordered;
  width: 10px;
  height: 10px;
  background-color: var(--basic-blue);

  &:hover,
  &:focus {
    width: 15px;
    height: 15px;
    outline: none;
  }

  &:active {
    box-shadow: 0px 3px 7px var(--pin-shadow);
  }

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 13px;

    &:hover,
    &:focus {
      width: 19px;
      height: 19px;
    }
  }
}

.search__button {
  @include bordered;
  background-color: var(--basic-white);
  border: none;
  width: 100%;
  min-height: 41px;
  font-size: 17px;
  line-height: 17px;
  font-family: inherit;
  font-weight: 700;
  color: var(--basic-blue-dark);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0px 3px 6px var(--button-shadow);
  }

  &:active {
    background-color: var(--search-line);
    color: var(--basic-blue-dark-30);
  }

  @media (min-width: $tablet-width) {
    min-height: 50px;
    font-size: 20px;
    line-height: 20px;
  }
}
