.social__list {
  @include reset-list;
  display: flex;
  align-items: center;
  justify-content: center;

  &--top {
    margin: 0 auto;
  }

  &--bottom {
    margin-bottom: 37px;
  }
}

.social__item {
  a {
    @include bordered;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--basic-yellow);

    &:hover,
    &:focus {
      background-color: var(--special-yellow-dark);
    }

    &:active {
      background-color: var(--special-yellow-dark);
      color: var(--basic-blue-dark2-30);

      img {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $tablet-width) {
    a {
      width: 62px;
      height: 62px;
    }
  }
}
