.steps__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-self: center;
    width: 688px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 35px;
    justify-content: flex-start;
    width: auto;
  }
}

.steps__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background-color: var(--basic-yellow);
  padding: 22px 24px 34px;
  border-radius: 10px;
  margin-top: -12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &:nth-child(4n+1) {
    background-color: var(--special-orange);
  }

  &:nth-child(4n+2) {
    background-color: var(--special-orange-light);
  }

  &:nth-child(4n+3) {
    background-color: var(--special-yellow-dark);
  }

  a {
    color: var(--basic-blue-dark);
  }

  &::after {
    counter-increment: section;
    content: counter(section);
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-right: -3px;
  }

  @media (max-width: $mobile-width-only) {
    &:last-child {
      padding: 22px 24px;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 344px;
    flex-direction: column;
    padding: 30px 32px 22px;
    min-height: 140px;
    margin-top: 0;
    border-radius: 0;
    font-size: 24px;
    line-height: 24px;

    &:nth-child(1) {
      border-top-left-radius: 20px;
    }

    &:nth-child(2) {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }

    &:nth-child(2n+1) {
      width: 365px;
      margin-right: -21px;
    }

    &:nth-last-child(1) {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: 20px;
    }

    &::after {
      font-size: 30px;
      line-height: 30px;
      margin-top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 107px;
    width: 380px;
    margin-right: -35px;
    flex-direction: row;
    border-radius: 20px;
    padding: 30px 32px 22px;
    font-size: 24px;
    line-height: 24px;

    &:first-child {
      width: 350px;
    }

    &:last-child {
      width: 315px;

      &::after {
        margin-right: 0;
      }
    }

    &::after {
      font-size: 24px;
      line-height: 24px;
      margin-right: 35px;
      margin-top: -1px;
    }
  }
}
