.user-card {
  background-color: var(--basic-white);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  box-shadow: 0 2px 4px var(--card-shadow);
  max-width: 285px;
}

.user-card__image {
  overflow: hidden;
  flex-shrink: 0;

  img {
    display: block;
  }
}

.user-card__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-blue);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }
}

.user-card__content {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  padding: 0 20px 22px;
}

.user-card__tags {
  margin-bottom: 20px;

  a {
    color: var(--special-grey);
  }
}

.user-card__level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90px;
  position: absolute;
  top: 17px;
  left: 17px;
  color: var(--basic-white);
  background-color: var(--basic-black-60);

  @media (min-width: $tablet-width) {
    .user-card__label {
      display: none;
    }
  }
}

.user-card__flags {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    margin: 0 10px;
  }
}

.user-card__button {
  background-color: var(--basic-yellow);
  border: none;
  color: var(--basic-blue-dark);
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  font-family: inherit;
  width: 100%;
  min-height: 40px;
  @include bordered;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 13px;
}
