.user-plans {
  padding-top: 50px;
  margin-top: -50px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 81px;
  }
}

.user-plans__heading {
  color: var(--basic-blue);
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 29px;

  &:first-child {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 7px;
  }
}

.user-plans__wrapper {
  @include wrapper(25px, 75px, 124px);
  background-color: var(--special-blue-light);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 54px;
  padding-top: 28px;
  margin-bottom: -40px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 125px;
    margin-bottom: -60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 60px;
    padding-bottom: 110px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.user-plans__list {
  @include reset-list;
  counter-reset: section;
}

.user-plans__item {
  min-height: 154px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border-radius: 10px;
  padding: 24px 25px 23px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    align-items: stretch;
    min-height: 152px;
    padding: 40px 0 0;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    min-height: 98px;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 22px 42px 20px;
  }
}

.user-plans__countries {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    counter-increment: section;
    content: counter(section) ". ";
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    margin-right: 5px;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 33px;
    padding: 0 27px 0 36px;

    &::before {
      font-size: 20px;
      line-height: 20px;
      order: 1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 25px 0 0;
    margin: 0;
    justify-content: flex-start;
    flex-shrink: 0;

    &::before {
      order: 0;
      margin-right: 36px;
    }
  }
}

.user-plans__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 33px 15px;
    border-top: 1px solid var(--card-border);
  }

  @media (min-width: $desktop-width) {
    align-content: center;
    min-width: 50%;
    border: none;
    padding: 0;
    display: grid;
    grid-template-columns: 155px 1fr auto;
    column-gap: 20px;
  }
}

.user-plans__quantity {
  margin: 0 0 5px 0;
  letter-spacing: 0.06em;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.user-plans__date {
  margin: 0;
  letter-spacing: 0.06em;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.user-plans__button {
  border: none;
  padding: 0;
  background-color: transparent;
  margin-top: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  color: var(--basic-black-30);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--basic-black-60);
  }

  &:active {
    color: var(--basic-black-10);
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
  }
}
