.user-info {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-top: -190px;
    padding-bottom: 16px;
    z-index: 100;
  }
}

.user-info__wrapper {
  @include wrapper(25px, 75px, 124px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 4px;
  padding-top: 24px;
  margin-bottom: -40px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 1fr auto;
    padding-top: 64px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 732px auto 384px;
    padding-top: 0;
    padding-right: 60px;
  }
}

.user-info__button {
  @include bordered;
  grid-column: 1 / 3;
  margin-top: 18px;
  margin-bottom: 33px;
  text-transform: uppercase;
  color: var(--basic-blue-dark);
  background-color: var(--special-blue-light);
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  padding: 7px 20px 5px;
  min-height: 40px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--special-blue-dark);
  }

  &:active {
    color: var(--basic-blue-dark-30);
  }

  @media (min-width: $tablet-width) {
    border-radius: 10px;
    grid-column: 1 / 4;
    min-height: 60px;
    letter-spacing: 0.09em;
    margin-bottom: 53px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-top: 0;
    width: 190px;
    letter-spacing: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-self: center;
    min-height: 47px;
    margin-bottom: 27px;

    span {
      display: none;
    }
  }
}

.user-info__tags {
  grid-column: 1 / 3;
  margin-bottom: 24px;
  line-height: 1.2;
  border: 1px solid var(--border-grey);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
  color: var(--special-grey-60);

  &:hover,
  &:focus {
    border-color: var(--border-grey-dark);
  }

  &:active {
    border-color: var(--basic-blue-dark);
    color: var(--special-grey);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 4;
    align-items: flex-start;
    font-size: 20px;
    line-height: 22px;
    padding: 35px 38px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 0;

    .user-info__caption {
      align-self: flex-start;
      left: 18px;
    }
  }
}

.user-info__avatar {
  @include bordered;
  overflow: hidden;
  width: 100px;
  height: 100px;
  justify-self: center;

  img {
    display: block;
  }

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 94px;
    height: 94px;
    margin-left: 63px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 190px;
    height: 190px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 0;
    justify-self: center;
  }
}

.user-info__level {
  @include bordered;
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-self: center;

  &::after {
    content: "";
    height: 1px;
    width: 50px;
    background-color: var(--special-grey-30);
    margin: 0 0 5px;
  }

  @media (min-width: $tablet-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 94px;
    height: 94px;
    margin-right: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: absolute;
    width: 95px;
    height: 95px;
    top: 40px;
    left: 100px;
    margin-right: 0;

    &::after {
      height: 2px;
      background-color: var(--basic-white);
      opacity: 0.3;
    }
  }
}

.user-info__level-number {
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: var(--basic-blue-dark);

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    color: var(--basic-white);
  }
}

.user-info__level-caption {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: var(--special-grey);
  order: 1;

  @media (min-width: $desktop-width) {
    color: var(--basic-white);
  }
}

.user-info__level-xp {
  color: var(--special-orange);
  position: absolute;

  svg {
    display: block;
  }
}

.xp-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 360, 360;
  stroke-dashoffset: 100;
}

.user-info__caption {
  position: absolute;
  top: -8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  padding: 0 20px;
  background-color: var(--background-color);

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: -12px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    font-weight: 500;
    align-self: center;
  }
}

.user-info__transport {
  grid-column: 1 / 3;
  margin-bottom: 30px;
  border: 1px solid var(--border-grey);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    width: 384px;
    justify-self: right;
    margin-bottom: 0;
  }
}

.user-info__transport-list {
  @include reset-list;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.user-info__transport-item {
  @include bordered;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  background-color: var(--basic-white);
  color: var(--basic-blue);

  &:hover,
  &:focus {
    box-shadow: 0px 2px 6px var(--transport-shadow);
    color: var(--basic-blue-70);
  }

  &:active {
    background-color: var(--transport-down);
    color: var(--basic-blue-30);
  }

  svg {
    width: 17px;
    height: auto;
  }

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;

    svg {
      width: 23px;
    }
  }
}
